:root {
  /* Fonts */
  --font-inter: 'Inter', sans-serif;
  /* specifically Inter */
  --font-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* specifically Helvetica */
  --font-serif: 'Playfair Display', serif;
  /* headings / special text */
  --font-mono: 'Courier New', monospace;



  /* Light mode colors */
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #000000;
  --text-secondary: #666666;
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-primary: #ffffff;
    --text-secondary: #999999;
    --button-primary-hover: #f2f2f2;
    --button-secondary-hover: #383838;
    --button-secondary-border: #444444;
  }
}

/* Global styles */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  /* updated from Arial */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Box sizing */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Links inherit color */
a {
  color: inherit;
  text-decoration: none;
}

/* Dark mode for html */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}